
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("../images/gray-metal-cubes-decorative-1005644.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
    background-attachment: fixed;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.rendered-body-div {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0%;
    margin-bottom: 0%;
    background-color: white;
    background: rgba(255,255,255,0.98);
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 4%;
}

.navbar-brand {
    font-size: 40px;
    font-family: 'Vidaloka', serif;
    color: indianred;
}

.navbar {
    min-height: 80px;
    background-color: white;
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.portfolio-site-title {
    font-family: 'Vidaloka', serif;
    text-align: center;
}

.blog-post-metadata {
    font-family: 'Frank Ruhl Libre', serif;
    text-align: center;
}

.portfolio-site-content {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 18px;
}

.blog-post-image {
    max-width: 80%;
    width: 100%;
    vertical-align: middle;
}

.about-me-image {
    max-width: 350px;
    width: 100%;
    vertical-align: middle
}

#qrCode {
    margin: 15px;
}

@media screen and (max-width: 767px) {
    .carousel-caption {
        display: none;
    }
}
