@{
    ViewData["Title"] = "About Me";
}
<br/>
<h2 class="center-block portfolio-site-title">@ViewData["Title"]</h2>
<br/>
<div class="row">
    <div class="col-lg-6 col-md-6 about-content">
        <p>I am a .NET Software Engineer, a wife, and an automatic <i><b>yes</b></i> to any coffee run or happy hour.
            <br/>
            <br/>
            I graduated from ASU with a Computer Science degree in 2012, and I kicked off my career as a Software Tester and Test Automation Engineer. 
            Not too long after, a generous Development Manager (hi, Anne!) recruited me to her team as an official Software Engineer. 
            Since then, I've had the opportunity to work for a couple of awesome companies in the Payments and CRM spaces, gaining experience in .NET, Java, 
            Product Ownership, and Product Management. As I took a detour to become a Product Manager for 
            a couple of years, I discovered that I am at my happiest as a Software Engineer, coding-up software solutions that make an impact. I've
            been a back-end web services developer for most of my career, and am now learning and (and loving!) full-stack web development.
            <br/>
            <br/>
            Besides playing video games, I spend most of my time outside of work sewing (my own clothing!), painting, and playing board games 
            with family and friends. I've also recently become a bit of a home chef, trying to make 
            healthy and tasty meals on a budget, which is proving to be my most difficult challenge yet!
        </p>
    </div>
    <div class="col-lg-6 col-md-6" style="padding-top: 10px">
        <div class="center-block">
            <img style="padding-bottom: 2px;" src="/images/katy-59.jpg" alt="Me" class="img-responsive center-block about-me-image" />
            <p class="blog-post-metadata"><i>Photo courtesy of <a href="https://allielynnphotography.com/">Allie Lynn Photography</a></i></p>
            <br/>
            <p class="blog-post-metadata">LinkedIn: <a href="https://www.linkedin.com/in/katyorourke/">https://www.linkedin.com/in/katyorourke/</a></p>
            <p class="blog-post-metadata">GitHub: <a href="https://github.com/katyfox">https://github.com/katyfox</a></p>
        </div>
    </div>
</div>
