@{
    ViewData["Title"] = "About Me";
}
<br/>
<h2 style="font-family: 'Vidaloka', serif; text-align: center;" class="center-block">@ViewData["Title"]</h2>
<div class="row">
    <div class="col-lg-6 col-md-6" style="font-family: 'Frank Ruhl Libre', serif;">
        <br/>
        <p>Lorem ipsum dolor sit amet, ut legimus reprimique per, congue docendi vituperata ad mel. Te munere doming omittantur ius, reque maiestatis nec ea, duo duis autem euripidis te. Ad duo tritani civibus. Quo omnium dignissim id, ne summo perpetua postulant vim.</p>
        <p>An has corpora singulis. Prodesset voluptaria an pri, te vel malis veniam tractatos. No eos menandri facilisis dissentiunt, eripuit alterum voluptatum cu sea. Eu his cibo novum reprehendunt, duis tota sit an. Omnesque perpetua ullamcorper ea sea, sit ei quot vidisse scaevola, cum elaboraret theophrastus concludaturque cu.</p>
        <p>Summo explicari quo ne. Eam ad ipsum dictas, eu consul invidunt instructior pri, an vis idque tantas honestatis. Vis enim saperet contentiones te, usu aperiri placerat no, elit libris sadipscing sea ad. Facer blandit interesset ea cum, cibo integre accusata mel at, an vis graeci impedit fuisset.</p>
        <p>Assum commune mel in, sed te atqui regione facilisis. Wisi facete aliquam id sea, utamur commune quo et. Id nec veri illud impedit, pri porro augue dicam eu. Cu mel meis autem. Oblique eloquentiam an vel, mucius graecis cu nec.</p>
        <p>Quo eu malis neglegentur intellegebat, pri conceptam consetetur dissentiunt at, regione appetere abhorreant cu eam. Malorum democritum philosophia pri eu. Sea labore maiorum ut, ea vix vidit solum lobortis. Ex vim audiam torquatos vituperatoribus, platonem torquatos disputando ne his. Purto verear usu ne. Pri mediocrem appellantur accommodare ne.</p>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="center-block">
            <br/>
            <img src="/images/MeAtDesk.jpeg" alt="Me" class="img-responsive center-block" style="max-width: 350px; width: 100%; vertical-align: middle"/>
        </div>
    </div>
</div>
