
@{
    ViewData["Title"] = "Blog";
}

@model List<BlogPost>


<h2>blog</h2>

<div class="center-block">
    @foreach (var item in Model)
    {
        <h3>@item.Title</h3>
        <br/>
        <span><i>By @item.Author - @item.GetFormattedDate()</i></span>
        <br />
        <br />
        <span>@item.Content</span>
        <br />
        <br />
    }
</div>

