
@{
    ViewData["Title"] = "Blog";
}

@model List<BlogPost>


<h2>blog</h2>

<div class="center-block">
    @foreach (var item in Model)
    {

        <span>Posted by @item.Author on @item.GetFormattedDate()</span>
        <br />
        <br />
        <span>@item.Content</span>
        <br />
        <br />
    }
</div>

